<section class="section-note-edit">
    <div class="row note-edit">
        <form class="col">
            
            <h1>Edit note</h1>
            <div class="input-field">
                <input placeholder="" class="note-edit__input" ng-model="vm.noteEdit.title" type="text">
                <label for="first_name" class="active">Title</label>
            </div>
            <div class="input-field">
                <input class="note-edit__input" ng-model="vm.noteEdit.keywords" type="text">
                <label for="last_name" class="active">Keywords</label>
            </div>
            <div class="input-field">
                <textarea class="note-edit__code" ng-model="vm.noteEdit.text"></textarea>
            </div>
            <div class="input-field">
                <div class="buttons">
                    <button ng-click="vm.update()" class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons left">done</i> Save
                    </button>
                    <button ng-confirm-click="Would you like to delete?" confirmed-click="vm.delete()" class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons left">delete</i> Delete
                    </button>
                </div>
            </div>
    </div>
    </div>
</section>
