html{
  height: 100%;
  font-size: rem(16px);
}

.container {
  position: relative;
}

main {
  section {
    margin: 30px 0 50px 0;
    padding-top: 50px;
    padding-bottom: 35px;
  }
}

.center {
  text-align: center;
}

// ***************************************************************************
// Inputs
// ***************************************************************************

label {
  color: $gray-color;
}


.input-field label {
  left: 0;
  margin-top: -5px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  height: 2.6rem;
  line-height: 3rem;
}

.input-field label.active {
 top: 22px;
 font-size: rem(12px);
 opacity: .6;
}

.page-title h1 {
  display: block;
  &:after {
    content: "";
    width: 100%;
    background: #ccc;
    height: 1px;
    display: block;
    margin: 10px 0px 15px 0px;
  }
}

// ***************************************************************************
// Checkbox
// ***************************************************************************

[type="checkbox"]:checked+label {
 &:before {
   height: 15px;
   width: 9px;
   top: 1px;
 }
}
[type="checkbox"]:not(:checked)+label {
 &:before {
   width: 14px;
   height: 14px;
   top: 3px;
 }
}
[type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
 padding-left: 20px;
}