// ***************************************************************************
// Header
// ***************************************************************************

.navbar {
  &__title {
    font-size: 20px;
  }
  &__tabs {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__tab {
    cursor: pointer;
  }
}

