// ***************************************************************************
// Header
// ***************************************************************************

.navbar {
  height: $navbar-height;
  background: $bar-color;
  &__title {
    font-size: 20px;
    padding-top: 13px;
    display: block;
    i {
      margin-right: 3px;
    }
  }
  &__tabs {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__tab {
    width: 70px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    height: $navbar-height;
    line-height: $navbar-height;
    margin-right: 10px;
    &:last-child {
      margin-right: 0px;
    }
    i {
      margin-right: 2px;
    }
  }
}

