$btn-color: #26a69a;
$bar-color: #ee6e73;
$gray-color: #9e9e9e;

// ***************************************************************************
// Navbar
// ***************************************************************************
$navbar-height: 50px;

// ***************************************************************************
// Note Edit
// ***************************************************************************
$note-width: 500px;
$note-max-width: 750px;
$note-tags-color: #BCBCBC;

// ***************************************************************************
// Note Preview
// ***************************************************************************
$preview-max-height: calc(100% - 115px);
$preview-min-height: 400px;