<section class="section-note-add">
    <div class="row note-add">
        <div class="col">
            <span class="page-title">
                <h1>Add note</h1>
            </span>

            <div class="input-field">
                <input placeholder="" class="note-edit__input" ng-model="vm.note.title" type="text" id="field-1" ng-keyup="$event.keyCode == 13 && vm.setFocus(2)">
                <label for="first_name" id="title-label">Title</label>
            </div>
            <div class="input-field">
                <input class="note-edit__input" ng-model="vm.note.keywords" type="text"  id="field-2" ng-keyup="$event.keyCode == 13 && vm.setFocus(3)">
                <label for="last_name" id="keywords-label">Keywords</label>
            </div>
            <div class="input-field">
                <textarea class="note-edit__code" ng-class="{'word-wrap': vm.wordWrap}" ng-model="vm.note.text" id="field-3"></textarea>
            </div>
            <div class="clear"></div>
            <div class="input-field">
                <div class="buttons-center">
                    <button ng-click="vm.save()" class="btn waves-effect waves-light" name="action">
                        <i class="material-icons left">done</i> Save
                    </button>
                </div>
            </div>
    </div>
    </div>
</section>
