<section class="section-note-add">
  <div class="row note-edit">
     <form class="col">
         <div class="input-field col">
           <input placeholder="" class="note-edit__input" ng-model="note.title" type="text">
           <label for="first_name">Title</label>
         </div>
         <div class="input-field col">
           <input class="note-edit__input"  ng-model="note.tags" type="text">
           <label for="last_name">Tags</label>
         </div>
         <div class="input-field col">
          <textarea name="" ng-model="note.text" class="note-edit__code"></textarea>
         </div>
         <div class="input-field col">
           <button ng-click="save()" class="btn waves-effect waves-light" type="submit" name="action">
            <i class="material-icons left">done</i>
              Save
            </button>
         </div>
       </div>
   </div>
</section>