<section class="section-options">
    <div class="row">
        <form class="col">
            <span class="page-title">
              <h1>Options</h1>
            </span>
            <div class="input-field">
              <label class="label">Color scheme</label>
              <div class="select">
                <select ng-model="vm.scheme" class="browser-default">
                  <option value="{{scheme}}" ng-selected="vm.scheme === scheme" ng-repeat="scheme in vm.schemes">{{scheme}}</option>
                </select>
              </div>
            </div>

            <div class="input-field">
                <input id="hotkey_list" class="note-edit__input" ng-model="vm.hotkeyList" type="text" />
                <label for="hotkey_list" class="active">Hotkey for list page</label>
            </div>
            <div class="input-field">
                <input id="hotkey_add" class="note-edit__input" ng-model="vm.hotkeyAdd" type="text" />
                <label for="hotkey_add" class="active">Hotkey for add page</label>
            </div>
            <div class="input-field">
              <p class="inline">
                  <input id="word-wrap" type="checkbox" ng-model="vm.wordWrap" />
                  <label for="word-wrap">Word wrap</label>
              </p>
              <p class="inline">
                <input id="beautify" type="checkbox" ng-model="vm.beautify" />
                <label for="beautify">Code beautify</label>
              </p>
              <p class="inline">
                  <input id="search-limit" type="checkbox" ng-model="vm.searchLimit" />
                  <label for="search-limit">Search limit</label>
              </p>
              <p class="inline">
                  <input id="tray-icon" type="checkbox" ng-model="vm.tray" />
                  <label for="tray-icon">Tray icon</label>
              </p>
              <p class="inline">
                  <input id="minimize" type="checkbox" ng-model="vm.minimize" />
                  <label for="minimize">Minimize on start</label>
              </p>
            </div>
            <div class="input-field">
              <div class="buttons-center">
                <button ng-click="vm.save()" class="btn btn-center waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons left">done</i> Save
                </button>
              </div>
            </div>
    </div>
    </div>
</section>
