<section class="section-note-search">
	<div class="row">
	  <form class="col s12">
	    <div class="row">
	      <div class="input-field col s12">
	        <input id="icon_prefix" ng-model="searchTags" value="" type="text" class="validate">
	        <label for="icon_prefix">Find</label>
	      </div>
	    </div>
	  </form>
	</div>
</section>
      
<section class="section-note-list">
	<ul class="collection">
		<div class="col s12">
			<li class="note-list collection-item" ng-repeat="note in vm.notes | orderBy:'-id' | searchByTags:searchTags" ng-click="vm.showPreview(note)">
				<div class="note-mini">
					<span class="note-mini__tags">{{ note.tags }}</span>
					<span class="note-mini__title">
					{{ note.title }}
					</span>
			</div>
			</li>
		</div>
	</ul>
</section>

<section class="section-note-preview" ng-if="vm.notePreview != false">
	<note-preview note="vm.notePreview"></note-preview>
</section>
